/* Universal */
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Poppins:wght@200&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Poppins', sans-serif;

}

:root {
    --red: #ed1c24;
}

.bold {
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 18px;
    line-height: 17px !important;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF !important;
}

/* end  */


/* --------------------------------------------------------NAV-BAR START-------------------------------------------------------- */
.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 19px;
    margin-bottom: 19px;
    flex-wrap: wrap;

}

.nav-icon {
    padding-right: 200px;
}
.nav-icon img:hover
{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;

}

.nav-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
}

.pd-right {
    padding-right: 36px;
}

.nav-user {
    width: 20px;
    height: 23px;
    font-size: 24px;
    padding-right: 36px;
}

.nav-store {
    width: 20px;
    height: 23px;
    font-size: 24px;
    padding-right: 50px;
}

.nav-order-button {
    padding-left: 30px;
    display: flex;
    background-color: #ed1c24;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hover-button:hover
{
    background-color: whitesmoke;
    color: #ed1c24;
    transition: 0.5s ease-in-out;
}

.nav-order-button i {
    font-size: 30px;
    background-color: #ed1c24;
    color: white;
    padding-left: 5px;
}

/* --------------------------------------------------------NAV-BAR END-------------------------------------------------------- */




/* --------------------------------------------------------NAV-BANNER START-------------------------------------------------------- */

.order-now-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.order-now-image img
{
    width: 100%;
}

/* --------------------------------------------------------NAV-BANNER END-------------------------------------------------------- */



/* --------------------------------------------------------NAV-SHORT-MENU START-------------------------------------------------------- */
.nav-short-menu {
    width: 100%;
    height: 70vh;
    border: none;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 30px;

}
h3 {
    font-family: 'ButlerRegular';
    font-size: 32px;
}
.nav-boxes {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
    padding-bottom: 100px;
    height: 60vh;
    border: 1px solid white;
}
.nav-box {
    border: none;
    color: white;
    width: 220px;
    height: 420px;
    margin: 10px;
    flex-wrap: wrap;

}
.box-img {
    width: 200x;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.text {
    padding: 24px 10px 10px;
    width: 100%;
    height: auto;
}
/* --------------------------------------------------------NAV-SHORT-MENU END-------------------------------------------------------- */



/* --------------------------------------------------------NAV-PROMOTION-MENU START-------------------------------------------------------- */

.nav-prom-img img {
    width: 696px;
    height: 488px;
    
}
.nav-prom-img
{
    flex-wrap: wrap;
}

.nav-prom-text small {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 12px;
    display: block;
}
.nav-prom-text h5 {
    font-family: 'ButlerRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.nav-prom-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin: 24px 0px 38px;
    width: 480px;
    height: 140px;
}
.prom-container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border: 1px solid white;
}
.prom-box-1 {
    flex-wrap: wrap;
    color: white;
    width: 48%;
    display: flex;
}
.prom-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 48%;
    
}
.nav-prom-button {
    display: flex;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-prom-button i {
    font-size: 30px;
    background-color: black;
    color: white;
    padding-left: 5px;
}

.prom-inner-box {
    width: 500px;
    flex-wrap: wrap;
}

/* --------------------------------------------------------NAV-PROMOTION-MENU END-------------------------------------------------------- */


/* --------------------------------------------------------NAV-DEAL-MENU START-------------------------------------------------------- */
.deal-outer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    color: white;
}
.deal-inner-container {
    width: 85%;
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.deal-outer-container h3 {
    font-family: 'ButlerRegular';
    font-size: 32px;
}
.deal-box {
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 270px;
    color: white;
    border-radius: 5px;
}
.deal-box img {
    width: 100%;
    height: 225px !important;
    background-size: cover;
    object-fit: cover !important;
    border-radius: 5px;
}
.deal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.deal-info p {
    padding-top: 3px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 45px;
    line-height: 1.8em;
    font-size: 12px;
    text-align: center;
    color: rgb(161, 161, 161);
    font-weight: 400;
    height: 25px;

}
.deal-button {
    margin-top: 10px;
    background-color: var(--red);
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
}
/* --------------------------------------------------------NAV-DEAL-MENU START-------------------------------------------------------- */




/* --------------------------------------------------------NAV-MENU-WEEK-START-------------------------------------------------------- */
.bold-1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 24px;
    display: block;
}
.menu-week-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.menu-week-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 48%;
}
.menu-week-box-2 {
    color: white;
    width: 48%;
}
.menu-week-inner-box {
    width: 500px;
}
.menu-week-text small {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 12px;
    display: block;

}
.menu-week-text h5 {
    font-family: 'ButlerRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.menu-week-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin: 24px 0px 38px;
    width: 480px;
    height: 60px;
}
.menu-week-img img {
    width: 696px;
    height: 600px;
}
.menu-week-button {
    display: flex;
    background-color: var(--red);
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-week-button i {
    font-size: 30px;
    background-color: var(--red);
    color: white;
    padding-left: 5px;
}

/* --------------------------------------------------------NAV-MENU-WEEK-START-------------------------------------------------------- */


/* --------------------------------------------------------NAV-SOCIAL-FEED-START-------------------------------------------------------- */

.social-feed-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;

}

.social-feed-container h5 {
    font-family: 'ButlerRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.social-feed-inner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 20%;
    gap: 15px;
}

.s-f-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 30%;
    height: 30vh;
    ;
}

.s-f-box img {
    width: 100%;
    height: 100%;

}

/* --------------------------------------------------------NAV-SOCIAL-FEED-END-------------------------------------------------------- */



/* --------------------------------------------------------NAV-FOOTER-START-------------------------------------------------------- */

.footer-container {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 50px;
    gap: 0px;
}

.footer-box-1 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    color: white;
    margin-left: 30px;
    background-color: transparent;
}

.footer-box-1 img {
    width: 140px;
    height: 56px;
    background-color: transparent;

}

.footer-box-1 p {

    margin: 0px !important;
    padding-bottom: 24px;
    padding-right: 0px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
}
.footer-box-1 ul
{
    display: flex;
}
.footer-box-1 ul li
{
    list-style: none;
    margin-right: 20px;
}
.footer-remaining-box
{
    width: 16%;
    height: 100% !important;
    display: flex;   
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    color: white;
}
.footer-remaining-box ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    background-color: transparent;
}
.footer-remaining-box ul li
{
    list-style: none;
    margin-bottom: 17px;
    background-color: transparent;
}

.footer-remaining-box h4{
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: transparent;
}
.footer-remaining-box ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
}
.footer-remaining-box-links
{
    width: 16%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    color: white;
    background-color: transparent;
}

.footer-remaining-box-links h4
{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: transparent;
}
.footer-remaining-box-links ul
{
    display: flex;
    list-style: none;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 5px;
    background-color: transparent;
}
.footer-remaining-box-links ul li i
{
    font-size: 40px;
    background-color: black;
    color: var(--red);
    padding-left: 5px;
    border-radius: 50%;
    margin: 5px;
    background-color: transparent;
}
.footer-remaining-box-links ul li i:hover
{
    font-size: 50px;
    transition: 0.3s ease-in-out;
}

.apple-link
{
    margin-top: 10px;
}
.google-link
{
    margin-top: 8px;
}

/* --------------------------------------------------------NAV-FOOTER-END-------------------------------------------------------- */

/* --------------------------------------------------------NAV-POWERED-START-------------------------------------------------------- */
.powered hr
{
    width: 100%;
    height: 0.1px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    margin-top: 20px;
    opacity: 0.3;
}
.powered-content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color:rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    margin-bottom: 15px;
}
.avatar
{
    background-color: #282626;

}
.avatar img
{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #282626;
    color: #282626;
}

.avatar-whole
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    padding: 8px;
    background-color: #282626;
}

.avatar-text p
{
    padding-left: 7px;
    padding-right: 7px;
    font-size: 14px;
    background-color: #282626;

}

.avatar-text a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    background-color: #282626;

}
.avatar-text i{
    font-size: 16px;
    background-color: #282626;
    margin-left: 5px;
}
.avatar-text i:hover{
    font-size: 18px;
    transition: 0.3s ease-in-out;
}
/* --------------------------------------------------------NAV-POWERED-END-------------------------------------------------------- */


/* ######################################################## PAGE_ABOUT_US START ##################################################*/
/* ##################################################################################################################################### */
/* ######################################################################################################################################## */

/* --------------------------------------------------------NAV-INTRODUCTION START-------------------------------------------------------- */

.nav-intro-outer
{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.nav-intro-inner
{
    width: 77%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.nav-intro-inner h4
{
    font-family: 'ButlerRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 20px;
}
.nav-intro-inner h5
{
    display: inline;
    font-style: normal; 
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 24px;
    display: block;
}

.nav-intro-inner p
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 17px;
    flex-wrap: wrap;
}
.nav-chronology
{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 60px;
}

.nav-box1
{
    width: 45%;
    height: auto;
    text-align: left;
    flex-wrap: wrap;

}

.futurak
{
    font-family: 'Pirata One', cursive;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.30em;
    font-size: 25px;
    line-height: 29px;
    text-align: left;
    color: #FFFFFF;
}
.inline 
{
    display: flex;
}
.nav-box1 p
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 17px;
    flex-wrap: wrap;

}

.nav-box1 img
{
    width: 100%;
    height: 35vh;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    flex-wrap: wrap;
}
.nav-intro-inner-franchise-text
{
    width: 77%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-intro-inner-franchise-text h5
{
    display: inline;
    font-style: normal; 
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 24px;
    display: block;
}
.nav-intro-inner-franchise-text p
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 17px;
}
.nav-box2 img
{
    width: 100%;
    height: 28vh;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.adress-card
{
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 370px;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;

}
.adress-card img {
    width: 100%;
    height: 235px !important;
    background-size: cover;
    object-fit: cover !important;
    border-radius: 5px;
}
.adress-outer-box
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.card-info p {
    padding-top: 3px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 45px;
    line-height: 1.8em;
    font-size: 12px;
    text-align: center;
    color: rgb(161, 161, 161);
    font-weight: 400;
    height: 25px;

}
.bold-card
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 12px;
}
.card-info a
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 5px;
    margin-bottom: 12px;
}
.nav-box1 a
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 5px;
    margin-bottom: 12px;
}
.nav-box1 h6{
    letter-spacing: 0.10rem;
    font-size: 12px;
    font-style: bold;
    font-weight: 400;
    color: white;
}
/* --------------------------------------------------------NAV-INTRODUCTION END-------------------------------------------------------- */

/* ######################################################## PAGE_MENU START ##################################################*/
/* ##################################################################################################################################### */
/* ######################################################################################################################################## */


/* MENU_HEADING  */

.menu-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
}

.menu-heading h2
{
    width: 100%;
    font-family: 'ButlerRegular';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.back-to-top 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3%;
    height: 50px;
    top: 90%;
    right: 95%;
    position: fixed;
    z-index: 99;
    border: 1px solid rgba(40, 58, 64, 0.5);
    background-color: rgba(52, 58, 64, 0.5);
    padding-top: 5px;
    border-radius: 10px;
    
}
.back-to-top i
{
    font-size: 20px;
    background-color: rgba(52, 58, 64, 0.5);
    border: none;
    color: white;
}



.scroll-menu
{

    margin-top: 50px;
    width: 80%;
    height: auto;
    overflow: auto;
    white-space: nowrap;
}

.scroll-menu a
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-radius: 30px;
}

.scroll-menu a:hover
{
    background-color: var(--red);
    color: white;
    transition: all;
}

/* SOUP  */
.soup h3
{
    width: 100%;
    font-family: 'ButlerRegular';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: #0f0f0f
}
.soup
{
    width: 80%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.m-top
{
    margin-top: 50px;
}
.h-box{
    height: 110vh;
}
.h-box1{
    height: 160vh;
}
.h-box2{
    height: 270vh;
}
.h-bbq-box
{
    height: 160vh;
}

.soup-outer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid white; */
}
.soup-inner-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    /* border: 1px solid white; */
}
.soup-outer-container h3 {
    margin-top: 20px;
    font-family: 'ButlerRegular';
    font-size: 25px;
    padding-bottom: 30px;
}
.soup-box {
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 400px;
    color: white;
    border-radius: 10px;
    background-color: #0f0f0f;
}
.soup-box img {
    width: 100%;
    height: 225px !important;
    background-size: cover;
    object-fit: cover !important;
    border-radius: 10px;
}
.soup-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0f0f0f;
}
.soup-info p {
    padding-top: 3px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 45px;
    line-height: 1.8em;
    font-size: 12px;
    text-align: center;
    color: rgb(161, 161, 161);
    font-weight: 400;
    height: 25px;
    background-color: #0f0f0f;

}
.soup-button {
    margin-top: 30px;
    background-color: var(--red);
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
}
/* SOUP END  */

/* --------------------------------------------------------PAGE_MENU END-------------------------------------------------------- */


/* --------------------------------------------------------PUBLICATION_PAGE STARTED-------------------------------------------------------- */

.book-container-outer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.book-container-inner
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
}

.book
{
    width: 540px;
    height: 570px;
    border: 0.1px solid rgba(255, 255, 255, 0.3);;
    margin: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.book img
{
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    background-color: transparent;
}
.book img:hover
{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}



.text-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container h4 
{
    font-family: 'ButlerRegular';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.text-container p
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 5px;
}
.text-container a 
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 5px;
    text-decoration: none;
}
.m1-top{
    margin-top: 10px;
}

/* --------------------------------------------------------PUBLICATION PAGE END-------------------------------------------------------- */


/* --------------------------------------------------------FEED_BACK PAGE STARTED-------------------------------------------------------- */

.feed-outer-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.feed-outer-container h3{
    font-family: 'ButlerRegular';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-top: 15px;
}


.feed-inner-container
{
    display: flex;
    justify-content: flex-start;
    align-items : center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 75vh;
}
.feed-inner-container p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin: 12px 0px 12px 0px;
}
.d-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
}
.h-flex{
    height: 55vh;
    width: 50%;
}
.d-padding
{
    padding: 0px 0px 20px 0px;
}
.d-padding1
{
    padding: 0px 0px 40px 0px;
}
.star-box
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.star-box p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 5px;
}
.star-box i{
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.star-box i:hover{
    color: var(--red);
    transition: linear;
}

.star-box-inner
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-blank
{
    height: 44px !important;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.25rem;
}
.feed-inner-container-frnachise
{
    display: flex;
    justify-content: flex-start;
    align-items : center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.feed-inner-container-franchise p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin: 12px 0px 12px 0px;
}

.feed-outer-container-franchise
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}
.feed-outer-container-franchise h3{
    font-family: 'ButlerRegular';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-top: 15px;
}



